$primary: #007bff;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$secondary: #6c757d;
$light: #f8f9fa;
$dark: #343a40;

$successLight10: rgba(40, 167, 69, 0.1);
$infoLight10: rgba(23, 162, 184, 0.1);
$warningLight10: rgba(255, 193, 7, 0.1);

$textPrimary: #212529;
$textSecondary: #6c757d;

$paper: #ffffff;
$bg600: #e9ecef;
$bg700: #dee2e6;
$bg500: #ced4da;

.gantt {
  text {
    font-size: 16px;
  }

  .rowLines {
    z-index: 1;
  }

  ._CZjuD {
    border-top-right-radius: 8px;
    box-shadow: 0 0 0 1px var(--chakra-colors-border);
  }

  ._35nLX {
    height: 64px;
    stroke: none;
    stroke-width: unset;
  }

  .ticks,
  ._25P-K,
  .bar,
  .calendarTop,
  .calendarTop line,
  .content text,
  .today,
  ._9w8d5 {
    display: none;
  }

  ._2B2zv {
    overflow: unset;
    position: relative;
  }

  .task-item {
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: $textPrimary;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    display: flex;
    align-items: center;

    &.task-COMPLETED {
      background-color: $successLight10;
      border-left: 2px solid $success;
    }

    &.task-IN_PROGRESS {
      background-color: $infoLight10;
      border-left: 2px solid $info;
    }

    &.task-PENDING {
      background-color: $warningLight10;
      border-left: 2px solid $warning;
    }

    &.task-NOT_STARTED {
      background-color: $bg600;
      border-left: 2px solid $bg700;
    }
  }

  .status {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    &.COMPLETED {
      background-color: $success;
    }

    &.PENDING {
      background-color: $warning;
    }

    &.IN_PROGRESS {
      background-color: $info;
    }

    &.NOT_STARTED {
      background-color: $bg500;
    }
  }

  .status-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;

    &.COMPLETED {
      color: $success;
    }

    &.PENDING {
      color: $warning;
    }

    &.IN_PROGRESS {
      color: $info;
    }

    &.NOT_STARTED {
      color: $bg500;
    }
  }

  .table-header {
    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #25414d;
    }

    .table-cell {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        cursor: pointer;
      }
    }
  }

  .table {
    width: 330px;
    background-color: $paper;
    border-bottom-left-radius: 8px;
    border: 1px solid #e4e4e7;
  }

  .table-row {
    width: 330px;
    height: 32px;
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
  }

  .table-cell-1 {
    width: 200px;
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    border-inline-end-width: 1px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .table-cell-1 {
    &.project {
      padding: 0 10px;

      .table-cell-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > div {
          & > p {
            font-weight: 600;
          }
        }
      }
    }

    .table-cell-flex {
      & > div {
        display: flex;
        align-items: center;
        gap: 6px;

        & > p {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: #000;
          overflow: hidden;
          text-wrap: wrap;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  .table-cell-2 > div {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 6px;
  }
}

.task-table {
  width: 330px;
  border-collapse: collapse;
  background-color: #ffffff;
  border: 1px solid #e4e4e7;
  border-top-left-radius: 8px;

  thead {
    tr {
      border-bottom: 1px solid #e4e4e7;

      .table-header-cell {
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: #25414d;
        padding: 6px 10px;

        &.event-name {
          width: 70%; // Adjust for proportional width
        }

        &.status {
          width: 30%;
        }

        .header-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
